<div class="row ca-view">
    <!--Cast scan tab -->
    <div class="container-fluid" ng-if="caWidget.miniWidgetView == 'Cast'">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="widget ca-tests">
                    <div class="widget-heading">
                        Software Health Indicators
                    </div>
                    <div class="widget-body">

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <ng-gauge value="caWidget.cast.risk.value | number:2" label="Risk" append="/4" thresholds="caWidget.threshold"></ng-gauge>
                            </div>
                            <div class="col-lg-6">
                                <ng-gauge value="caWidget.cast.maintain.value | number:2" label="Maintainability" append="/4" thresholds="caWidget.threshold"></ng-gauge>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="widget-heading">
                                Critcal Violations
                            </div>
                            <div class="col-lg-6">
                                <span class="widget-heading red">{{caWidget.cast.critical_added.name}}</span>
                                <br>
                                <span class="cast-value">{{caWidget.cast.critical_added.value | number:0}}</span>
                            </div>
                            <div class="col-lg-6">
                                <span class="widget-heading green">{{caWidget.cast.critical_removed.name}}</span>
                                <br>
                                <span class="cast-value">{{caWidget.cast.critical_removed.value | number:0}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cast scan tab -->
</div>