<div id="site" class="main-content">
    <ng-include src="ctrl.templateUrl"></ng-include>

    <div class="container">
        <div class="widget-modal r">
            <div class="widget-modal-heading row">
                <div class="text-2x col-sm-6 text-center visible-xs-block">Select Your Dashboard</div>
                <div class="text-2x col-sm-6 text-left hidden-xs">Select Your Dashboard</div>
                <div class="text-right hidden-xs">
                    <div class="create-dashboard-button btn btn-default btn-wide-1x" ng-click="ctrl.createDashboard()" ng-if="ctrl.showAuthentication && ctrl.showCreate">
                        <span class="fa fa-plus-circle"></span> Create a new dashboard
                    </div>
                </div>
                <div class="create-dashboard-container visible-xs-block">
                    <div class="btn-create-dashboard btn-primary" ng-class="{'active' : ctrl.showMobileButton }" ng-if="ctrl.showAuthentication && ctrl.showCreate" ng-init="ctrl.showMobileButton = false" ng-click="ctrl.showMobileButton = !ctrl.showMobileButton;"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    <div class="create-dashboard-button btn btn-default btn-wide-1x" ng-click="ctrl.createDashboard()" ng-if="ctrl.showMobileButton && ctrl.showCreate">
                        Create a new dashboard
                    </div>
                </div>
            </div>
            <div class="widget-modal-body">
                <div class="text-center">
                    <div class="filter-container">
                        <input type="search"
                               id="filter"
                               class="form-control text-center"
                               ng-model="ctrl.search"
                               placeholder="Type to find dashboard" />
                    </div>
                    <div class="btn-group dashboard-type-list hidden-xs" role="group" aria-label="Basic example">
                        <a
                                class="btn btn-secondary"
                                ng-class="{'btn-info': ctrl.dashboardType == undefined}"
                                ng-href="#/">All dashboards</a>

                        <a
                                class="btn btn-secondary"
                                ng-repeat="item in ctrl.dashboardTypes track by $index"
                                ng-class="{'btn-info': ctrl.dashboardType == item.id}"
                                ng-href="#/tab/{{$index + 1}}">
                            <span class="fa {{item.icon}}" ng-if="item.icon"></span>

                            {{item.name}} dashboards 
                        </a>
                    </div>
                    <div class="form-group visible-xs-block">
                          <label>Select Dashboard Type</label>
                          <select class="form-control" ng-model="ctrl.selecedDashboard" ng-change='ctrl.showType(item)'
                                      ng-options="item as item.name for item in ctrl.dashboardTypes">
                                      <option value="">All dashboards</option>
                          </select>
                    </div>
                </div>

                <div class="row gap">
                    
                    <div class="col-sm-12">
                        <div ng-show="ctrl.showAuthentication" id="myDashboardsSection">
                            <div class="text-2x lbl-dashboard-type">My <span ng-if="ctrl.selecedDashboard">{{ctrl.selecedDashboard.id}} </span>Dashboards <span class="label label-default"></span></div>

                            <div class="text-center" ng-hide="ctrl.mydash">Loading Your Dashboards...</div>
                            <div class="text-center" ng-show="ctrl.mydash && !mydashboards.length">
                                No results
                            </div>

                            <ul class="list-animate list-group text-left">
                                <li class="list-group-item" ng-repeat="myitem in mydashboards = (ctrl.mydash | filter:ctrl.filterDashboards | orderBy: 'name')">
                                    <span class="pull-right">


                                       <a href ng-click="ctrl.editDashboard(myitem,'lg')" ng-if="!ctrl.isViewOnly">
                                           <span class="fa fa-lg fa-cog text-success"></span>
                                       </a>

                                       <a href id="deleteDashboardButton" delete-confirm confirm-action="ctrl.deleteDashboard(myitem)" ng-if="!ctrl.isViewOnly  && !ctrl.isManager">
                                            <span class="fa fa-lg fa-trash text-danger"></span>
                                       </a>
                                    </span>

                                    <a class="btn-block clickable" title="{{myitem.name}}" ng-click="ctrl.open(myitem.id, myitem.name)">
                                        <span class="fa fa-lg left-icon" ng-class="{'fa-cubes' : myitem.isProduct, 'fa-snowflake-o' : myitem.isAggregate}"></span>
                                        <span   ng-class="{'text-danger' : myitem.showError}">
                                            {{ myitem.name | trunText:50 }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="gap">
                            <div class="text-2x lbl-dashboard-type">All <span ng-if="ctrl.selecedDashboard">{{ctrl.selecedDashboard.id}} </span>Dashboards</span></div>

                            <div class="text-center" ng-hide="ctrl.dashboards">Loading Dashboards...</div>

                            <ul class="list-animate list-group text-left">
                                <li  title="{{item.name}}"class="list-group-item clickable" ng-click="ctrl.open(item.id, item.name)"
                                    ng-repeat="item in filteredDashboards = (ctrl.dashboards | filter: ctrl.filterDashboards | orderBy:'name')">
                                    <span class="fa fa-lg left-icon" ng-class="{'fa-cubes' : item.isProduct, 'fa-snowflake-o' : item.isAggregate}"></span>
                                    <span class="fa fa-angle-right list-group-item-right"></span>

                                </span>
                                    {{item.name | trunText:50}}
                                </li>
                            </ul>

                            <div class="text-center" ng-show="ctrl.dashboards && !filteredDashboards.length">
                                No results
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
