<div ng-controller="WidgetTemplateController as template" data-ng-init="init(ctrl.dashboard)">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- <a ng-href="#/" class="dashboard-logo"></a>
                <div class="">{{::ctrl.dashboard.title}}</div>
                <div class="pipeline-toggle btn-group hidden-xs hidden-sm">
                    <span class="btn" ng-repeat="tab in template.tabs" ng-click="template.toggleView($index)"
                          ng-class="tab.name == template.widgetView ? 'btn-primary' : 'btn-default'">
                        <span ng-class="tab.name === 'Widget' ? 'fa fa-th' : tab.name === 'Pipeline' ? 'fa fa-task' : 'fa fa-cloud'"></span>
                        {{tab.name}}
                    </span>
                    <span class="btn btn-default" ng-if="template.isOwner || template.isAdmin" ng-click="template.editDashboard()">Edit <span class="glyphicon glyphicon-edit"></span></span>
                </div> -->
                <div class="row">
					<a ng-href="#/" class="col-xs-3 dashboard-logo"></a>
					<div class="col-xs-9 hidden-sm hidden-md hidden-slg visible-xs-inline-block text-right pull-right">{{::ctrl.dashboard.title | trunText:50}}</div>
					<div class="col-sm-12 hidden-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{::ctrl.dashboard.title | trunText:50}}</div>
					<div class="pipeline-toggle btn-group hidden-xs hidden-sm">
						<span class="btn" ng-repeat="tab in template.tabs" ng-click="template.toggleView($index)"
							ng-class="tab.name == template.widgetView ? 'btn-primary' : 'btn-default'">
							<span ng-class="tab.name === 'Widget' ? 'fa fa-th' : tab.name === 'Pipeline' ? 'fa fa-task' : 'fa fa-cloud'"></span>
							{{tab.name}}
						</span>
						<span class="btn btn-default" ng-if="(template.isOwner && template.isManager) || template.isAdmin" ng-click="template.editDashboard()">Edit <span class="glyphicon glyphicon-edit"></span></span>
					</div>
				</div>
            </div>
        </nav>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard"
         ng-if="template.widgetView == 'Widget'">
        <div class="row">
            <div ng-repeat="widgetChunk in template.widgetsOrder">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="widgetName in widgetChunk track by $index">
                        <widget name="{{widgetName}}"
                                widget-title="{{template.widgetDisplay[widgetName.toLowerCase()]}}"></widget>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Pipeline' && template.pipelineInd">
        <div class="row">
            <div class="col-xs-12">
                <widget name="pipeline" widget-title="Delivery Pipeline"></widget>
            </div>
        </div>
    </div>

    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Cloud' && template.cloudInd">
        <div class="row">
            <div class="col-xs-12">
                <widget name="cloud" widget-title="Cloud"></widget>
            </div>
        </div>
    </div>
</div>